<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.TimeTaskSchedulCenterDao">
  <resultMap id="BaseResultMap" type="org.spring.springboot.entity.TimeTaskSchedulCenterBean">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SERVICE_NAME" jdbcType="VARCHAR" property="serviceName" />
    <result column="SERVICE_VERSION" jdbcType="VARCHAR" property="serviceVersion" />
    <result column="SERVICE_METHOD" jdbcType="VARCHAR" property="serviceMethod" />
    <result column="SERVICE_CRON" jdbcType="VARCHAR" property="serviceCron" />
    <result column="CREATE_DATETIME" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="UPDATE_DATETIME" jdbcType="TIMESTAMP" property="updateDatetime" />
    <result column="SERVICE_ID" jdbcType="VARCHAR" property="serviceId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SERVICE_NAME, SERVICE_VERSION, SERVICE_METHOD, SERVICE_CRON, CREATE_DATETIME, 
    UPDATE_DATETIME, SERVICE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_time_task_schedul_center
    <if test="id != null and id != ''">
      <where>
        ID = #{id,jdbcType=VARCHAR}
      </where>
    </if>
  </select>

  <select id="selectByPrimaryKeyTest" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_time_task_schedul_center
    <if test="id != null and id != ''">
      <where>
        ID = #{id,jdbcType=VARCHAR}
      </where>
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_time_task_schedul_center
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.spring.springboot.entity.TimeTaskSchedulCenterBean">
    insert into t_time_task_schedul_center (ID, SERVICE_NAME, SERVICE_VERSION, 
      SERVICE_METHOD, SERVICE_CRON, CREATE_DATETIME, 
      UPDATE_DATETIME, SERVICE_ID)
    values (#{id,jdbcType=VARCHAR}, #{serviceName,jdbcType=VARCHAR}, #{serviceVersion,jdbcType=VARCHAR}, 
      #{serviceMethod,jdbcType=VARCHAR}, #{serviceCron,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}, 
      #{updateDatetime,jdbcType=TIMESTAMP}, #{serviceId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.spring.springboot.entity.TimeTaskSchedulCenterBean">
    insert into t_time_task_schedul_center
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="serviceName != null">
        SERVICE_NAME,
      </if>
      <if test="serviceVersion != null">
        SERVICE_VERSION,
      </if>
      <if test="serviceMethod != null">
        SERVICE_METHOD,
      </if>
      <if test="serviceCron != null">
        SERVICE_CRON,
      </if>
      <if test="createDatetime != null">
        CREATE_DATETIME,
      </if>
      <if test="updateDatetime != null">
        UPDATE_DATETIME,
      </if>
      <if test="serviceId != null">
        SERVICE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null">
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceVersion != null">
        #{serviceVersion,jdbcType=VARCHAR},
      </if>
      <if test="serviceMethod != null">
        #{serviceMethod,jdbcType=VARCHAR},
      </if>
      <if test="serviceCron != null">
        #{serviceCron,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null">
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null">
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceId != null">
        #{serviceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.entity.TimeTaskSchedulCenterBean">
    update t_time_task_schedul_center
    <set>
      <if test="serviceName != null">
        SERVICE_NAME = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceVersion != null">
        SERVICE_VERSION = #{serviceVersion,jdbcType=VARCHAR},
      </if>
      <if test="serviceMethod != null">
        SERVICE_METHOD = #{serviceMethod,jdbcType=VARCHAR},
      </if>
      <if test="serviceCron != null">
        SERVICE_CRON = #{serviceCron,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null">
        CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null">
        UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceId != null">
        SERVICE_ID = #{serviceId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.spring.springboot.entity.TimeTaskSchedulCenterBean">
    update t_time_task_schedul_center
    set SERVICE_NAME = #{serviceName,jdbcType=VARCHAR},
      SERVICE_VERSION = #{serviceVersion,jdbcType=VARCHAR},
      SERVICE_METHOD = #{serviceMethod,jdbcType=VARCHAR},
      SERVICE_CRON = #{serviceCron,jdbcType=VARCHAR},
      CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP},
      SERVICE_ID = #{serviceId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>